{% extends "courses/layout.html" %}

{% block body %}
<main class="container mt-5">
    <h1>Course Name - Lessons</h1>

    <section class="lessons row row-cols-1 row-cols-md-2 g-4">
        {% for lesson in lessons %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lesson {{lesson.order}}: {{lesson.title}}</h5>
                    <p class="card-text">{{lesson.description}}</p>
                    {% if lesson.course.type == "Text Based" %}
                    <a href="{% url "courses:text_lesson_view" lesson.id %}" class="btn btn-primary">View Lesson</a>
                    {% else %}
                    <a href="{% url "courses:video_lesson_view" lesson.id %}" class="btn btn-primary">View Lesson</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        
        </section>
</main>
{% endblock body %}

    
