{% extends "courses/layout.html" %}
{% load static %}
{% block body %}

<div class="container">
  <h2>Your Courses</h2>
  <div class="row">
    {% for course in courses %}
    <div class="col-md-4">
      <div class="course-card">
        <img src="{{course.img.url}}" alt="Course 2 Image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <p class="card-text">{{course.category}} Course ({{course.language}})</p>
          <div class="course-info">
            <span class="badge bg-{% if course.difficulty == "Intermediate" %}primary{% elif course.difficulty == 'Advanced' %}info{% else %}success{% endif %}">{{ course.difficulty }}</span>
            <span class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
            </span>
          </div>
          <a href="{% url "courses:course_view" course.slug %}" class="btn btn-primary">Enroll Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
</div>

<section class="top-courses">
  <div class="container">
    <h2>Popular Courses</h2>
    <div class="row">
    {% for course in popular_courses %}
    <div class="col-md-4">
      <div class="course-card">
        <img src="{{course.img.url}}" alt="Course 2 Image" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{course.title}}</h5>
          <p class="card-text">{{course.category}} Course ({{course.language}})</p>
          <div class="course-info">
            <span class="badge bg-{% if course.difficulty == "Intermediate" %}primary{% elif course.difficulty == 'Advanced' %}info{% else %}success{% endif %}">{{ course.difficulty }}</span>
            {% comment %} <span class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <i class="far fa-star"></i>
            </span> {% endcomment %}
          </div>
          <a href="{% url "courses:course_view" course.slug %}" class="btn btn-primary">Enroll Now</a>
        </div>
      </div>
    </div>
    {% endfor %}
     
      </div>
  </div>
</section>



{% endblock body %}
   