{% extends "courses/layout.html" %}



{% block body %}

<div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-12 sticky-top sidebar bg-dark text-white">  <h2>Lessons</h2>
        <ul class="nav flex-column">  
              {% for lesson in lessons %}
                  <li class="nav-item">
                    {% if lesson.course.type == "Text Based" %}
                        <a href="{% url "courses:text_lesson_view" lesson.id %}" class="nav-link">{{lesson.title}}</a>
                    {% else %}
                    {% endif %}
                  </li>
              {% endfor %}
        </ul>
      </div>
      <div class="col-md-9 col-sm-8 col-12 content">
        {{lesson.text_content|safe}}
      </div>
    </div>
  </div>
  
{% endblock body %}